@charset "UTF-8";
/* CSS Document */
/**
 * HTML5 Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/*  adapted for GDRs Climate Equity Pledge Scorecard by Tyler Kemp-Benedict */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

/*html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }*/

/* from Meyer */
html, body, div, h1, h2, h3, h4, ul, ol, li, p, form, fieldset, legend, img,
input, textarea, table, caption, tbody, tfoot, thead, tr, td, th, dl, dd, dt {
    border:none;
    font-size:100%;
    margin:0;
    padding:0;
    font:inherit;
    vertical-align:baseline;
}
img { outline:none; }
ul { list-style:inside; }
#calc_container ul { list-style:none; }
table { /* cellspacing and cellpadding are not valid CSS - these attributes must be added to the html */
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
}

/* from normalize.css */
article, aside, details, figcaption, figure, footer, 
header, hgroup, main, nav, section, summary { display: block; }
html {
    font-size: 100%; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
}
html, button, input, select, textarea { font-family: sans-serif; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }
small { font-size: 80%; }
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
nav ul, nav ol, #nav ul, #nav ol {
    list-style: none;
    list-style-image: none;
}
img {
    border: 0; 
    -ms-interpolation-mode: bicubic; 
}
svg:not(:root) { overflow: hidden; }
button, input, select, textarea {
    font-size: 100%; 
    margin: 0; 
    vertical-align: baseline; 
    *vertical-align: middle; 
}
button, input { line-height: normal; }
button, select { text-transform: none; }
button, 
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; 
    cursor: pointer; 
    *overflow: visible;  
}
button[disabled],
html input[disabled] { cursor: default; }
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
    *height: 13px; 
    *width: 13px; 
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto; 
    vertical-align: top; 
}

/* other resets */
/*fieldset {
-webkit-margin-start: 0;
-webkit-margin-end: 0;
-webkit-padding-before: 0;
-webkit-padding-start: 0;
-webkit-padding-end: 0;
-webkit-padding-after: 0;
border:none;
}
legend {
    -webkit-padding-start: 0 !important;
    -webkit-padding-end: 0 !important;
}*/

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:16px/1.4 sans-serif; *font-size:medium; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists AND FORMS */
nav ul, nav li, form ul, form li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }
.small_intro { font-size: 85%; font-weight: bold; line-height: 1.2; margin: 1em 0 0.5em 0; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
/* input[type="radio"] { vertical-align: text-bottom; } */
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/****************************************************************************************
 * Primary styles
 *
 * Author: Tyler Kemp-Benedict
 *
 *  layout
 *  color palette
 *  typography
 *  miscellaneous
 */
 
/* layout ***************************************/
#container {margin:0 auto 0.5em; min-width:720px; max-width:1280px; width:90%;} 
/* #container {margin:0.5em auto; min-width:800px; padding:0 3em; width:60em;}*/
/*header {padding:0.5em 0 1.5em 0;}*/

/* IE6 treats width as min-width, but does not recognize CSS child selectors */
body>#container {
    min-width:950px;
    width:95%;
}

/*** header layout ***/
header, #header { 
    font-size:90%;
    height:5em; 
    overflow:hidden; 
    position:relative
}
header h1, #header h1 { 
    height:1em;
    left:0;
    letter-spacing: 0.05em;
    line-height:1em; 
    margin:0; 
    padding:0.75em; 
    position:absolute; 
    text-align:center;
    top:0; 
    z-index:10;
}

header h1 span, #header h1 span {
    bottom:0.75em;
    color:#6b87c3;
    display:block;
    font-size:80%;
    font-style:italic;
    font-weight:bold;
    position:absolute;
    right:-2.75em;
}
#partners {
    bottom:0;
    position:absolute;
    right:0;
}
#partners ul li {
    float:left;
    list-style:none;
}
#partners a {
    border:0;
    display:block;
    height:78px;
    overflow:hidden;
    text-indent:-9999px;
}
#partners ul li a#ecoequity {
    background:#fff url('../img/GDR-EE-headercalculator.png') no-repeat;
    width:148px;
}
#partners ul li a#seius {
    background:#fff url('../img/GDR-SEI-headercalculator.png') no-repeat;
    width:167px;
}
nav, #nav { 
    font-size:90%; 
    margin:0 0 1em 0; 
    padding:0.5em 0;
}
nav ul, #nav ul {margin:0; padding:0;}
nav li, #nav li {float:left; width:auto;}
nav a, nav a:link, nav a:visited, nav a:hover, nav a:active, 
#nav a, #nav a:link, #nav a:visited, #nav a:hover, #nav a:active {
    border-bottom:none;
    display:block; 
    float:left; 
    height:1.5em; 
    line-height:1.5em; 
    padding:0 1em; 
    text-decoration:none;
    width:auto;
}
nav li.last a, #nav li.last a { border:none;}
/*** end header layout ***/


#settings_wrapper {float:left; margin:0 30px 1em 0; padding: 0 13px 22px 13px; min-width:180px; width:30%;}
/*#settings_wrapper {float:left; margin:0 2em 1em 0; padding: 0 1em 1em 1em; width:15em;}*/
fieldset {padding:0 0 0.5em;}
legend {padding-top:0.75em;}
label {display:block; padding:0 0.75em 0 0.25em;}
select {margin-top:0.25em;}
#submit {margin:1.75em auto 0;}

#results {float:left; padding:0 20px 1.5em 20px; min-width:220px; width:50%;}
/*#results {float:left; padding:0 2em 1.5em 2em; width:32em;}*/
#summary {margin:1.5em 0 0.25em;}
footer {margin-top:1.5em; padding: 0.25em 1em 1em 1em; width:35em}

.graph {height:60px; overflow:hidden; position:relative; width:100%;}
.graph .intl, .graph .dom, .graph .gap, .graph .plug, .graph .neg, .graph .pos {float:left; height:30px; margin-bottom:5px; margin-top:5px;}
.graph img {left:0; position:absolute; top:20px; width:100%; z-index:-200;}
#fifty_fifty {height:60px; margin-bottom:1.5em; position:relative;}
.zero_line {border-right:2px solid #666; float:left; height:40px; left:0; position:absolute; top:0; width:49.5%; z-index:500;}
.axis_labels {bottom:0; height:20px; left:0; position:absolute; width:100%;}
span.label_left, span.label_center, span.label_right {display:block; height:20px; width:6em;}
span.label_left {float:left;}
span.label_center {margin:0 auto; text-align:center;}
span.label_right {position:absolute; right:0; text-align:right; top:0;}

#key {clear:both; margin-top:0.5em;}
.results_links {margin:1.25em 0 0.5em;}
.glossary #container, .docs #container {min-width:500px; max-width:900px;}
.glossary nav {margin:0;}
.glossary #main div p, .glossary #main div dl, .glossary #main div li {padding-left:1em;}
.glossary #main div p, .glossary #main div li {line-height:1.4; margin-top:0.75em; padding-top:0;}
.glossary #main div ul ul li, .glossary #main div ol ol li  {padding-left:2em;}

img.left {float:left; margin-right:2em;}
img.right {float:right; margin-left:2em;}
p.right {text-align:right;}
.note { border:1px solid #999; margin:0.5em 0; padding:0.5em; }

#switch_links {display:block;}
#switch_view, #no-script-warning {display:none;}
.no-js #switch_links {display:none;}
.no-js #switch_view, .no-js #no-script-warning {display:block;}
#switch_links a, #switch_links span {
  border: 2px solid;
  -moz-border-radius:3px;border-radius:3px;
  display: block;
  float: left;
  letter-spacing: 0.035em;
  margin: -2px;
  padding: 3px 5px;
  text-align: center;
  width: 8em;
}
#equity_settings_button a { 
  border: 2px solid;
  -moz-border-radius:3px;border-radius:3px;
  display: block;
  float: left;
  font-size:90%; 
  letter-spacing: 0.1em;
  line-height:1;
  padding:0.5em 1em;
  margin: 1em 0 0.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width:auto; 
}

/* color palette ***************************************/ 
/*
 * #3a4e85 blue xtra dk
 * #4d59a4 blue dk
 * #6b87c3 blue med
 * #b8d4ff blue light
 * #ffce73 yellow-gold
 * #dd6e4c red-orange
 * #a23b1e red dk [no longer used?]
 * #6cad57 green med
 * #e6ebe6 green pale
 * #eee
 * #aaa
 * #666
 * #999
 */
body {background:#fff;}
body, select, input, textarea {color:#666;}
h1, h2, h3, h4, #country_name, #commitment, .score, legend, a.title, a.title:hover, a.title:visited {color:#4d59a4;}
fieldset {background:#fff;}
h1 span, h2 span, .small_intro {color:#999; letter-spacing:0.035em;}

header h1, #header h1 { 
    background:#4d59a4; 
    color:#fff; 
}
nav, #nav { border-color:#4d59a4; }
nav a, nav a:link, nav a:visited, nav a:hover, nav a:active, 
#nav a, #nav a:link, #nav a:visited, #nav a:hover, #nav a:active {
    border-right:2px solid #d2dbef;
    color:#6b87c3; 
}
nav a:link, nav a:visited, 
#nav a:link, #nav a:visited {color:#6b87c3;}
nav a:hover, nav a:active, 
#nav a:hover, #nav a:active {background:#f0f3fa; color:#4d59a4;}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301   */
::-moz-selection{background:#dd6e4c; color:#fff; text-shadow:none;}
::selection {background:#dd6e4c; color:#fff; text-shadow:none;}
/* j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color:#dd6e4c;}

.intl {background:#6b87c3;}
.dom, .no_kab, .kab, .pos {background:#6cad57;}
.positive {color:#6cad57;}
.gap {background:#ffce73;}
.plug, #fifty_fifty .gap {background: #eee;}
.neg {background:#dd6e4c;}
.negative {color:#dd6e4c; white-space:nowrap;}
#results {border:6px solid #ffce73;}
#settings_wrapper, footer {border:6px solid #e6ebe6;}
#settings_wrapper, #results, footer, #equity_settings {-moz-border-radius:15px; border-radius:15px;}

.glossary #main, .docs #main {border-top:6px solid #ffce73; margin-top:0.5em;}
.glossary h2, .docs h2 {margin-top:1.5em;}

a, a:active, a:visited {color:#6b87c3;}

footer a, footer a:active, footer a:visited,
a.more, a.more:active, a.more:visited,
a.ext, a.ext:active, a.ext:visited {color:#666;}

a:hover, #more_options a:hover, footer a:hover, a.more:hover, a.ext:hover {color:#3a4e85;}

.disabled {color:#aaa;}

#scale_warning {color:#a23b1e;}

#switch_links a, #switch_links span { border-color:#dcdcdc; }
#switch_links a {
  background: #dcdcdc;
  color: #999;
}
#switch_links a:hover {
  color: #666;
}
#switch_links span {
  background: #fff;
  color: #666;
}

#equity_settings_button a {
  border-color:#40822e;
  background: #40822e;
  color: #fff;
}
#equity_settings_button a:hover {
  background: #2e5e21;
}
header h1 a, #header h1 a { color:#fff; border:none; }
header h1 a:hover, #header h1 a:hover { color:#b8d4ff; }

/* typography ***************************************/

@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/proximanova-bold-webfont.eot');
    src: url('/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('/fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-bold-webfont.svg#ProximaNovaBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/proximanova-boldit-webfont.eot');
    src: url('/fonts/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-boldit-webfont.woff') format('woff'),
         url('/fonts/proximanova-boldit-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-boldit-webfont.svg#ProximaNovaBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
/*h1, h2, h3, h4 {
	font-family: ProximaNova, Arial, "Helvetica Neue", Helvetica, sans-serif; 
	font-weight: bold;
}*/

body {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}

h1,h2,h3,h4,h5,h6, strong, #country_name, #commitment, .score, legend, 
#no-script-warning, .results_links, #scale_warning, #switch_links, 
.small_intro, #equity_settings_button, nav a, #nav a {
    font-family:ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight:bold;
}
em {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-style:italic;}
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em, strong em {
    font-family:ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-style:italic;
    font-weight:bold; 
}

h1 {font-size:250%; line-height:1;}
h2 {font-size:150%; margin-top:1em;}
header h1, #header h1 {font-size:2em;}

/* #summary {font-size:120%; line-height:30px;} */
#summary {line-height:24px;}
.docs h1, .docs h2, .docs h3, h4 {margin-top:1em;}
.docs h1 {margin-bottom:0.25em;}
.docs h2 {font-size:180%;}
.docs h3 {font-size:115%;}
header h1, header h2, .docs header h1, .docs header h2 {margin-top:0;}

#results, #details {line-height:1.4em;}

p {margin-top:1.2em;}
#key p {margin-top:0.5em;}
#key p span {display:inline-block; height:15px; margin-right:0.5em; vertical-align:middle; width:15px;}
.docs p {margin-top:0.5em;}
#details, #key, #switch_links, #no-script-warning, .results_links, #scale_warning {font-size:85%;}
#details h2 {margin-top:1.5em;}
#details p {margin-top:1em;}
#details p.first, .no_sb {margin-top:0;}
.docs p.first {margin-top:2em;}
header p {margin-top:0.5em;}
/* p.source {margin-top:0.25em;} */

#country_name {font-size:360%;}
#commitment {font-size:150%;}
.score {font-size:200%;}
#summary #more_options {font-size:65%; line-height:0.5; margin-top:2em;}
legend {font-size:125%;}
.source {font-size:80%;}

a, a:active, a:visited {border-bottom-width:1px; border-bottom-style:dotted; text-decoration: none;}
a:hover {border-bottom-style:solid;}
h1 a, h1 a:hover {text-decoration: none; border: none;}

.glossary #container, .docs #container {font-size:90%;}
.glossary #container h1, .docs #container h1 {margin:0.5em 0;}
.glossary header h1, .glossary #header h1, .docs header h1, .docs #header h1 {margin:0;}
dl {
	border-bottom: 1px solid #999;
	float: left;
	margin: 1em 0 3em 0;
	padding: 0;
	width: 100%;
}
dt {
	border-top: 1px solid #999;
	clear: left;
	float: left;
	font-weight: bold;
	margin: 0;
	padding: 0.5em 0;
	width: 20%;
}
dd {
	border-top: 1px solid #999;
	float: left;
	margin: 0;
	padding: 0.5em 0;
	width: 80%;
}
.glossary div {clear:both;}
footer {font-size:80%;}

/* Equity Settings Panel *******************************/
/*** Equity settings panel ***/
#lightbox { 
    background-color:#000; 
    opacity:0.5; 
    position: absolute;
    top:0;
    left:0;
    height:1000%; 
    width:100%;
    z-index:900;
}
#equity_settings_container { 
    font-size:80%;
    line-height:1.4;
    margin:3.2em auto;
    position:absolute;
    top:5%;
    left:5%;
    width:90%;
    z-index:910;
}
#equity_settings_container ul { list-style:none; }
#equity_settings { 
    background:#fff;
    border:6pt solid #e6ebe6;
    margin:0 auto;
    padding:1.5em 2em 2em; 
    width:60em; 
}
#equity_settings h2 { 
    float:left; 
    font-size:200%; 
    line-height:1; 
    margin:0 1em 0 0; 
    padding-top:0; 
}
#equity_settings h4 { float:left; margin:0.75em 0 0.25em; width:100%;}
/*#equity_settings h4 { margin:0; }
#equity_settings  #cbdr-radio-containerh4 { margin-top:1em; }*/
#equity_settings input[type="submit"], 
#equity_settings input[type="button"] { 
    background:#e6ebe6; 
    border:1px solid #c9d4c9; 
    -moz-border-radius:3px; 
    border-radius:3px;
    color:#4d59a4; 
    margin-right:0.5em; 
    padding:0.2em 0.5em;
}
#equity_settings fieldset { border-bottom:1px solid #4d59a4; position:relative; } 
/* background:yellow; border-top-width:2em; padding:1em; padding-bottom:1em; width:54em; */
#equity_settings fieldset#pathway { margin-top:1.5em; }
#equity_settings fieldset#cbdr { position:relative; }
#equity_settings fieldset#historical_date { margin-bottom:1em; padding-bottom:1em; }
#equity_settings fieldset#historical_date label { float:left; margin-right:2em; }
#equity_settings legend { padding:0; }
/*#equity_settings legend { line-height:2em; width:54em; }*/
/*#equity_settings legend, #equity_settings legend span { height:2em; }*/
/*#equity_settings h4 { clear:both; font-weight:bold; padding-top:1em; }*/
#equity_settings label { float:none; width:auto; } /* margin-right:2em; */
#equity_settings label input.click { margin:0 0.5em 0 0; padding:0 0 0.25em 0; }
#equity_settings li { margin-bottom:0.5em;}
#equity_settings #cbdr-radio-container { float:left; width:34em; }

#equity_settings #cbdr-grid-container { 
    float:left; 
    font-size:85%; 
    margin:0; 
    position:relative; 
    width:29em; 
}
#equity_settings #cbdr-grid-container #grid-col-1 { float:left; margin-right:0.5em; width:5em; }
#equity_settings #cbdr-grid-container #grid-col-2 { 
    float:left; 
    margin-right:0; 
    position:relative; 
    width:16em; 
}
#equity_settings #cbdr-grid-container p { margin-top:0; }
#equity_settings #cbdr-grid-container #grid-col-3 { float:left; width:6em; }
#equity_settings #cbdr-grid-container p { line-height:1.2; padding-top:0; }
#equity_settings #cbdr-grid-container #grid-row-middle { 
    margin:0 auto; 
    position:relative; 
    text-align:center; 
    width:100%; }
#equity_settings #cbdr-grid-container #top-label { margin:1em auto 0.25em; text-align:center; }
#equity_settings #cbdr-grid-container #left-label { margin: 0 8em; }
#equity_settings #cbdr-grid-container #right-label { margin:8em 0; }
#equity_settings #cbdr-grid-container #left-label { text-align:right; }
#equity_settings #cbdr-grid-container #right-label { text-align:left; }
#equity_settings #cbdr-grid-container #bot-label { margin:0.25em auto 0.5em; text-align:center; }
#equity_settings #cbdr-grid-container ul { 
    float:left; 
    margin:0.5em auto 0.25em; 
    position:relative; 
    width:100%; 
}
#equity_settings #cbdr-grid-container li { 
    float:left; 
    height:4em; 
    margin:0 3% 0.6em 0; 
    position:relative; 
    width:30%; 
}
#equity_settings #cbdr-grid-container li a, 
#equity_settings #cbdr-grid-container li a:link, 
#equity_settings #cbdr-grid-container li a:visited { 
    background:#ccc; 
    border-width:0; 
    display:block; 
    height:4em; 
    text-align:center; 
    width:100%; 
}
#equity_settings #cbdr-grid-container li a:hover { background:#8884D1; } 
#equity_settings #cbdr-grid-container li a:active,
#equity_settings #cbdr-grid-container li a.selected { background:#221E6B; }

/* miscellaneous ***************************************/
/* a.def_link {background:url(../img/info-icon.gif) center right no-repeat; padding-right: 16px;} */
#fair-share {background:transparent url(../img/arrow-lr.gif) 100% 85% no-repeat; margin:0; padding:0 12px 5px 0; text-align:right;}
#submit {
    background-image:url(../img/send-button-sprite.png)!important; 
    background-repeat:no-repeat; border:0px!important; 
    display:block; 
    height:47px; 
    padding:0px!important; 
    text-indent:-5000px; 
    width:200px!important; 
}
.js #submit {display:none;}
#submit {background-position: 0 0;}
#submit:hover {background-position: 0 -47px;}
#submit:active {background-position: 0 -47px;}
#loading { 
    margin:300px 50% auto;
    position:fixed;
    z-index:3000;
}
/*#pageslide {
     These styles MUST be included. Do not change. 
    display:none;
    position:absolute;
    position:fixed;
    top:0;
    height:100%;
    z-index:999999;
    
     Specify the width of your pageslide here 
    width:14em;
    padding:1em 1em 1em;
    overflow:scroll;
    
     These styles are optional, and describe how the pageslide will look 
    background-color:#fff;
    font-size:80%;
    
    -webkit-box-shadow: 0 0 5px 5px #ccc;
    -moz-shadow: 0 0 5px 5px #ccc;
    box-shadow: 0 0 5px 5px #ccc;
}*/
/* for WP pages */
#pageContent { line-height:1.4; }
#pageContent li { margin-top: 1em; }

/****************************************************************************************/

/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.group:before, .group:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.group:after { clear: both; }
/* Fix clearfix (here called 'group'): blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.group { zoom: 1; }


.graph {margin-bottom:1em; position:relative; width:100%;}
/* remove the following line when replacing main css */
/*.graph .bg, .graph .score_neg, .graph .score_pos, .zero_line, .graph.brackets .bg, .brackets .score_neg, .brackets .score_pos {float:none; margin:0;}*/
.graph .bg, .graph .score_neg, .graph .score_pos {height:30px; position:absolute;}
.graph .bg {background: #eee; width:100%; z-index:10;}
.graph .score_neg, .graph .score_pos {z-index:100;}
.graph .score_neg {background:#dd6e4c; border-right:2px solid #666;}
.graph .score_pos {background:#6cad57; border-left:2px solid #666;}

/* nominally 60%, zero line fudged to avoid gap between line and score bar in Safari */
/*.zero_line {border-right:2px solid #666; left:0; position:absolute; width:59.5%; z-index:500;} */
.zero_line {background:transparent; border:none; left:59.5%; position:absolute; width:2px; z-index:500;}

.axis_labels {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight:normal; height:20px; left:0; position:absolute; width:100%;}
.axis_labels span {position:absolute; width:10%;}
.axis_labels span.left {left:0; text-align:left;}
.axis_labels span.zero {left:55%; text-align:center;}
.axis_labels span.right {right:0; text-align:right;}

.graph.basic {height:60px; margin-top:0.35em;}
.graph.basic .bg, .graph.basic .score_neg, .graph.basic .score_pos {top:5px;}
/*.graph.basic .zero_line {height:40px; top:0;}*/
.graph.basic .axis_labels {top:35px;}

/*span.label_left, span.label_center, span.label_right {display:block; height:20px; width:6em;}
span.label_left {float:left;}
span.label_center {margin:0 auto; text-align:center;}
span.label_right {position:absolute; right:0; text-align:right; top:0;}*/

/*#key {clear:both; margin-top:0.5em;}*/

      .graph.brackets {height:150px;}
      .graph.brackets .bg, .graph.brackets .score_neg, .graph.brackets .score_pos {top:42px;}
/*      .graph.brackets .zero_line {height:30px; top:42px;} */
      .graph.brackets .bau_line {border-left:2px solid #666; height:50px; position:absolute; top:42px; z-index:500;}
/*      .graph.brackets .bau_line {background:#666; border:none; height:50px; left:30%; position:absolute; top:42px; width:0.5%; z-index:500;}*/
      .graph.brackets .label {
        display:block; 
	font-family: ProximaNova, Arial, "Helvetica Neue", Helvetica, sans-serif; 
        font-size:1em;
	font-weight:bold;
        height:20px; 
        position:absolute; 
        text-align:center;
        z-index:200;
      }
      .graph.brackets .axis_labels {top:72px;}
      .graph.brackets .label.pledge {top:0; width:20%;}
      .graph.brackets .label.bau {top:92px; width:10%;}
      .graph.brackets .label.fair {top:130px; width:20%;}
      .bracket {border:1px solid #999; color:#999; height:12px; position:absolute; z-index:200;}
      .bracket.pledge {border-bottom:none; border-top-width:4px; top:22px;}
      .bracket.fair {border-bottom-width:4px; border-top:none; top:113px;}

      
/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
 @media screen and (max-device-width: 480px) { 
    body {font-size:small; line-height:1.4;}
    #container, .glossary #container, .docs #container, header, footer, #settings_wrapper, #results, dl, dt, dd {float:none; margin-left:0; margin-right:0; min-width:60px; width:auto;}
    #container {padding:0 1em;}
    #summary {line-height:18px;}
    #results {border:none; padding:0;}
    dd {border-top:none; padding-top:0;}
    #pageslide {line-height:1.2; padding-top:1em; width:30%;}
    h1 span, h2 span {font-size:85%; letter-spacing:0;}

  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
 }


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { /*background: transparent !important;*/ color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside:avoid; }
  thead { display:table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside:avoid; }
  @page { margin:1cm; }
  p, h2, h3 { orphans:3; widows:3; }
  h2, h3 { page-break-after:avoid; }
}
